GITHUB_USERNAME=example
API_IMAGE_NAME=example
VIRTUAL_HOST=example.com
EMAIL=user@example.com
DB_CONTAINER_NAME=example-mysql
DB_NAME=example
DB_USER=root
DB_ROOT_PASSWORD=password
EXPOSED_PORT=port
APP_NAME=example
DB_EXPOSED_PORT=port
